<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Avantguard|trpsosivio.io</title>
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width">
		<link href="/avantguard/css/stylesheet.css" rel="stylesheet" type="text/css" media="screen">
	</head>

	<body>



		<header>
			<div id=headerDiv1>
				<img src="/avantguard/images/banner.jpg" alt="AG Logo">
			</div>
			<div id="headerDiv2">
				<p><a href="#">Login</a></p>
			</div>

		</header>
		<nav id="pageNav">
			<ul>
				<li><a href="https://www.agmonitoring.com">Home</a></li>
				<li><a href="/avantguard/index.html">News</a></li>
				<li><a href="/avantguard/view/rexburg.html">Rexburg</a></li>
				<li><a href="/avantguard/view/ogden.html">Odgen</a></li>
				<li><a href="/avantguard/view/operator.html">Personal</a></li>
			</ul>
		</nav>


		<main>
			<h1>Main Content Goes Here</h1>







			<footer>&copy;trpsosivio.io Last Updated: 11/6/2017</footer>
		</main>


	</body>

</html>
