<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Avantguard|trpsosivio.io</title>
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width">
		<link href="/avantguard/css/stylesheet.css" rel="stylesheet" type="text/css" media="screen">
	</head>

	<body>



		<header>
			<div id=headerDiv1>
				<img src="/avantguard/images/banner.jpg" alt="AG Logo">
			</div>
			<div id="headerDiv2">
				<p><a href="#">Login</a></p>
			</div>

		</header>
		<nav id="pageNav">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="https://www.agmonitoring.com">News</a></li>
				<li><a href="/avantguard/view/rexburg.html">Rexburg</a></li>
				<li><a href="/avantguard/view/ogden.html">Odgen</a></li>
				<li><a href="/avantguard/view/operator.html">Personal</a></li>
			</ul>
		</nav>


		<main>
			<h1>Rexburg Stats</h1>
			<p>Insert option to select weekly or daily stats.</p>
			<div id=rexStatsContainer>

			<div id="medStats" class="box">
				<img class="stats"src="#" alt="Med stats go here. These can be built to expand or shrink similar to the AG tools ap. That way you can have full screen med stats/msg stats.">
				</div>
			<div id="msgStats" class="box">
				<img  class="stats" src="#" alt="MSG stats go here">
				</div>
			</div>
			<div id="rexContainer" >

			<div id="signalTraffic" class="box">
				<img class="stats" src="#" alt="This has signal traffic">
				</div>
			<div id="seatingChart" class="box">
				<img class="stats" src="#" alt="This is the seating chart, this could be set for just Leadership to see.">
				</div>

			</div>







			<footer>&copy;trpsosivio.io Last Updated: 11/6/2017</footer>
		</main>


	</body>

</html>
