* {
    box-sizing: border-box; /* changes width property
    to total width instead of content width */
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block; /* just in case we have
    any older browsers that don't recognize
    the HTML5 semantic elements */
}

body {
    margin: 0; /* remove any margin from body */
    padding: 0; /* ditto for padding */
    background-color: salmon;
}

main {
    display:flex;
    flex-flow: column nowrap;
    align-items: center;

}

nav ul{
    display: flex;
    line-height: 150%;
    height: 40px;
    /*background-color: aqua;*/
    list-style-type: none;
    margin: 0;
    padding: 0;


}
nav{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.title h1 + h1{
    text-align: right;
    margin-top: -.7em;
}


.hlp{
    text-align: :right;
}

.hlimg{
    float: left;
}

#hourly {
    display: none;
}
