* {
	box-sizing: border-box;

}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
	display: block;

}

#wrapper {
	background-color: white;


}

body{
	font-family:fantasy;
	background-image:url(/acme/images/site/background.jpg
	);
	background-size: cover;
}


nav{
	background-color: #de2226;
	height: 50px;
	font-size: 18px;
	color: white;
	font-weight: bold;


}
nav ul {
	display: flex;
	justify-content:space-around;
	list-style-type: none;


}

#page-nav a {
	text-decoration: none;
	color: black;
}

#filler{
	height: 50px;
	margin-top: -30px;
}

#filler h1 {
	font-size: 30px;
	font-weight: bold;

}

#homecontent {
	height:800px;

}



#tfooter {

	border-top: solid 5px;
	border-top-color: black;




}

#tfooter div {
	display: flex;
	justify-content: center;

}

#content {
	background-color: white;

}

/*************************************************
***********************HOMEPAGE*******************
*************************************************/

#hbody {
	background-color: white;

}

#hheader{
	font-size: 30px;
}

#rocketimg{
	width: 100%;
}

#ad{
	position: relative;
	bottom: 180px;
	width: 50%;
	float: right;

}

#rocketad ul{
	position: relative;
	float: right;
	list-style-type: none;
	color: #990033;
	font-size: 12px;

}
#productbox{
	display: flex;
	flex-direction: row;
	width: 100%;



}
#productbox1{
	display: flex;
	flex-direction: row;
	width: 100%;
}

#hreviews{
	display: flex;
	flex-direction: column;
}

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	width: 180px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 80%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}

#productflex{
	 display: flex;
	flex-direction: column;
}

#actionbtn{
	width: 70%;
}

/*************************************************
***********************Content********************
*************************************************/

#name{
	font-weight: bold;
}

#price{
	color: #de2226;
}


#Traps{
	width:100%;
	height: 100%;
}
#Anvils{
	width: 100%;
	height:100%;
}

#Explosives{
	width: 100px;
	height: 200px;
}
#Decoys{
	width: 100px;
	height: 200px;
}


/*************************************************
***********************Large Screen***************
*************************************************/
@media screen and (min-width: 480px) {
	hproducts{
		float: left;
		width: 50%;
	}
	#productbox{
		display: flex;
		float: left;
		flex-direction: row;
		justify-content: flex-start;
		flex-flow: nowrap;
		width: 50%;
	}

	#productbox1{
		display: flex;
		float: left;
		flex-direction: row;
		justify-content: flex-start;
		flex-flow: nowrap;
		width: 50%;
	}
	div.gallery img {
		width: 100%;
		height: auto;
	}


	#hreviews{
		float: right;
		width: 50%;
		position: relative;
		bottom: 500px;
	}
	body{
		font-size: 20px;
	}
	#page-nav{
		font-size:30px;
		height: 80px;
	}
	#welcome{
		font-size: 40px;
	}

	#homecontent{
		height: 600px;
	}

	#name{
		font-size: 40px;
	}

	#path{
		float: left;
		width: 50%;
	}

	#information{
		font-size: 30px;
		float: right;
		display: flex;
		align-content: flex-start;
		flex-direction: column;
		flex-wrap: wrap;
		width: 50%;
	}

	#content{
		height: 800px;
	}
	#picture{
		width: 80%;
		height: 50%;
	}
	#ad{
		position: relative;
		bottom: 500px;

	}
	#rocketad ul{
	font-size: 30px;
	}
	#actionbtn{
		width:100%
	}
	#Explosives{
		width: 300px;
		height: 400px;
	}
	#Decoys{
		width: 400px;
		height: 500px;
	}


}




